.item-add-form {
    margin-top: 10px;
}

@media (max-width: 500px) {
    .item-add-form {
        flex-direction: column;
        align-items: flex-start;
    }   

    .item-add-form .form-control {
        margin-bottom: 10px;
    } 
}