.search-panel {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 20px;
}

.search-panel .form-control {
    margin-right: 30px;
}


@media (max-width: 500px) {
    .search-panel {
        flex-direction: column;
        align-items   : flex-start;
    }

    .search-panel .form-control {
        margin-right : 0px;
        margin-bottom: 10px;
    }
}